.boardName {
  color: black;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 15px;
  justify-self: center;
  margin-left: 45px;
}

.headerArea {
  display: grid;
  width: 305px;
  height: 30px;
  margin-bottom: 21px;
  grid-template-columns: 5fr 1fr 0px;
  align-items: center;
}