.area{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.boardName {
  color: black;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 35px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 15px;
}

.taskArea {
  width: 300px;
  height: 300px;
}

.deleted {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.headerArea {
  display: flex;
  align-self: center; 
}

.deletedButton {
  background-color: transparent;
  border: none;
  margin-top: 8px;
  margin-left: 8px;
  width: 25px;
  height: 25px;
  padding: 0;
}