.header {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  box-shadow: 0 2px 0 0 white;
  padding-left: 20px;
}
  
.headerArea {
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
}
  
.link {
  color: white;
  text-decoration: none;
}
  
.link:hover {
  text-decoration: none;
}
  
.logo {
  width: 100px;
  margin-left: 30px;
}