body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.region-light {
  background-color: #f0f0f0;
  min-height: 100vh;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.region-dark {
  background-color: #303030;
  min-height: 100vh;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}